@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #0073ed;
  --bluehover: #007bff;
  --gray: #5c646b;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

::selection {
  background-color: var(--blue);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--blue);
}

.info-box,
.quiz-box,
.result-box {
  width: 600px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.info-box.active,
.quiz-box.active,
.result-box.active {
  opacity: 1;
  transform: scale(1);
}

/* Info Box */

.info-title {
  padding: 30px;
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

.info-rules {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-rules .rule {
  font-size: 20px;
  color: var(--gray);
}

.info-rules .rule span {
  color: var(--blue);
  font-weight: bold;
}

.info-buttons {
  padding: 15px 30px 20px 30px;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.info-buttons button {
  font-size: 18px;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.info-buttons button.exit {
  background-color: white;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.info-buttons button.exit:hover {
  background-color: var(--blue);
  color: white;
}

.info-buttons button.start {
  background-color: var(--blue);
  color: white;
}

.info-buttons button.start:hover {
  background-color: var(--bluehover);
}

/* Quiz Box */

.quiz-box header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.quiz-title {
  font-size: 28px;
  font-weight: bold;
}

.quiz-timer .timer-text {
}
